* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: 'Blosvet', serif;
    text-decoration: none;
    /*cursor: none;*/
}

a,
li {
    text-decoration: none;
    list-style-type: none;
}

:root {
    --color1: #FAF6F9;
    --color2: #F0E3EC;
    --color3: #C4A4BB;
    --color4: #855477;
    --color5: #52454F;
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}



/*---------------------------------------top button---------------------------------------*/
#top-button {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

#top-button img {
    cursor: pointer;
    width: 35px;
    height: 35px;
    transition: all 0.30s cubic-bezier(0.38, -0.68, 0.32, 2.16);
    border: var(--color1) solid 2px;
    border-radius: 50px;
}

#top-button img:hover {
    width: 40px;
    height: 40px;
}



/*---------------------------------------body---------------------------------------*/
body {
    position: relative;
    margin-top: 100px;
    background: var(--color1);
    overflow-x: hidden;
}



/*---------------------------------------header---------------------------------------*/
header {
    width: 100vw;
    height: 100px;
    background: var(--color2);
    position: fixed;
    top: 0px;
    text-align: center;
}

header nav {
    width: 80%;
    height: calc(100% - 2px);
    margin: auto;
}

header nav img {
    margin-top: 5px;
    height: 50px;
}

header menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

header li {
    width: 150px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header li a {
    font-size: 150%;
    transition: all 0.30s cubic-bezier(0.38, -0.68, 0.32, 2.16);
}

header li a:hover {
    font-size: 160%;
}

#progress-container {
    width: 100%;
    height: 2px;
    background: #fefefe;
    bottom: 0px;
}

#progress-bar {
    height: 2px;
    background: var(--color4);
    width: 0%;
    z-index: 3;
    border-radius: 20px;
}



/*---------------------------------------sections---------------------------------------*/
section {
    height: 100vh;
    margin-top: -100px;
    padding-top: 100px;
}

h1 {
    text-align: center;
    font-size: 350%;
    color: var(--color4);
}



/*---------------------------------------sections---------------------------------------*/
#about {
    background: var(--color3);
}



/*---------------------------------------footer---------------------------------------*/
footer {
    width: 100vw;
    height: 80px;
    background: var(--color2);
}

footer menu {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer li {
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer li img {
    width: 35px;
    border-color: var(--color1);
    border-radius: 50px;
    transition: all 0.30s cubic-bezier(0.38, -0.68, 0.32, 2.16);
}

footer li img:hover {
    width: 40px;
    border: var(--color1) solid 2px;
}



/*---------------------------------------scrollbar---------------------------------------*/
html {
    scroll-behavior: smooth;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--color4) var(--color1);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--color1);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color4);
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}